<!-- <div id="tsparticles"></div> -->

<Particles id="tsparticles" [options]="particlesOptions">
</Particles>
<div id="main" class="text">
  <div  class="text">
    <div style="font-family: 'Lobster Two', cursive;">GO SOCIAL</div>
    <br/>
    <div style="font-family: 'Lobster Two', cursive;font-size: 0.8em;">A Decentralised Social Network Platform</div>
    <br/>
      <!-- <button style="font-size: 0.6em;"> Login </button> -->

<button style="font-size: 0.4em;" class="button">Login</button>
  </div>

</div>
